doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div(class="dashboard")
            aside(class="dashboard__sidebar")
                 nav(class="dashboard__nav")
                    ul
                         li: a(href="#") Dashboard
                         li: a(href="#") Product
                         li: a(href="#") Customers
            main(class="dashboard__content")
                header(class="dashboard__header")
                    h1 Hello Evano 👋
                section(class="dashboard__stats")
                    // Блок для статистики
                section(class="dashboard__table")
                    // Таблиця користувачів